version: build-{branch}-#{build}

branches:
  only:
  # - master
  - develop

environment:
  matrix:

    # Visual Studio builds:
    - appveyor_build_worker_image: Visual Studio 2017
      CMAKE_GENERATOR: Visual Studio 15 2017
      CMAKE_ARCH: -Ax64
      CMAKE_TOOLSET: -Thost=x64
      # WARNING: do not add a space after -T here.

    - appveyor_build_worker_image: Visual Studio 2019
      CMAKE_GENERATOR: Visual Studio 16 2019
      CMAKE_ARCH: -Ax64
      CMAKE_TOOLSET: -Thost=x64
      # WARNING: do not add a space after -A or -T here.


    # Clang builds:
    - appveyor_build_worker_image: Ubuntu
      CMAKE_GENERATOR: Ninja
      CC: clang-11
      CXX: clang++-11
      CMAKE_BUILD_TYPE: -DCMAKE_BUILD_TYPE=Release

    - appveyor_build_worker_image: Ubuntu
      CMAKE_GENERATOR: Ninja
      CC: clang-10
      CXX: clang++-10
      CMAKE_BUILD_TYPE: -DCMAKE_BUILD_TYPE=Release


    # GCC builds:
    - appveyor_build_worker_image: Ubuntu
      CMAKE_GENERATOR: Ninja
      CC: gcc-9
      CXX: g++-9
      CMAKE_BUILD_TYPE: -DCMAKE_BUILD_TYPE=Release

    - appveyor_build_worker_image: Ubuntu
      CMAKE_GENERATOR: Ninja
      CC: gcc-8
      CXX: g++-8
      CMAKE_BUILD_TYPE: -DCMAKE_BUILD_TYPE=Release

build_script:
  - pwsh: |
       New-Item -Path .\build -ItemType Directory
       Set-Location -Path .\build
       cmake .. -DCML_BUILD_TESTING=ON "-G${env:CMAKE_GENERATOR}" ${env:CMAKE_ARCH} ${env:CMAKE_TOOLSET} ${env:CMAKE_BUILD_TYPE}
       cmake --build . --config Release

test_script:
  - pwsh: |
       Set-Location -Path .\build
       ctest -V -C Release

# init:
#   - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
 
# on_finish:
#   - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
